# Permettre l'accès aux fichiers PHP dans le répertoire subscription
DirectoryIndex register.php index.php

# Activer l'affichage des erreurs pour le débogage (à désactiver en production)
# php_flag display_errors On
# php_value error_reporting E_ALL

